<div id='signup-view'>
  <div class="page-header">
    <h1>TechCareer <small>Twitter</small></h1>
  </div>

  <%= form_tag account_path, :class => 'form-horizontal' do %>
    <div class="control-group">
      <%= label_tag :name, nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :name, nil, :placeholder => 'Mister Sean' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :email, nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, nil, :placeholder => 'at@walker.org' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password, nil, :class => 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password_confirmation, 'Confirm', :class => 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag "Signup", :class => 'btn btn-primary' %>
      <div class='clear'></div>
    </div>

  <% end %>
  <div class='clear'></div>
</div>