




			
<li>
	<span class ='tweet'>
		<%= status.text %>
	</span>
	
	<br>

	<span class='name'>
		Author: 
		<%= status.user.name %>
	</span>
	<span class='retweeted'>
		Retweeted: 
		<%= status.retweet_count %>
	</span>
	<span class='created'>
		Created on: 
		<%= status.created_at %>
	</span> 

	<br>
	
	<span class='name'>
		User Name: 
		<%= status.user.screen_name %>
	</span>
	<span class='followers'>
		Followers: 
		<%= status.user.followers_count %>
	</span>
	<span class='influence'>
		Influence Score:
		<%= (status.user.followers_count +(status.retweet_count*1000)) %>
	</span>

	<br>

	<% if ('media' in status.entities){ %>
		<img src="
		<%= status.entities.media[0].media_url %>
		" /> 
	<% } %>
	<br>
	<br>
		
</li>		
				
		

